<div style="margin-top: 20px">
  <input type="text" [(ngModel)]="serverName" />
  <button [disabled]="!allowNewServer" (click)="onCreateServer()">
    Add server
  </button>

  <!-- if else -->
  <p *ngIf="servers.length === 0; else serverCountPositive">
    No servers created
  </p>
  <ng-template #serverCountPositive>
    <p>Server count: {{ serverCount }}</p>
  </ng-template>

  <!-- custom structural directive -->
  <div *appUnless="servers.length % 2 !== 1">Odd server count</div>

  <!-- ngSwitch -->
  <div [ngSwitch]="servers.length">
    <p *ngSwitchCase="0">0 servers</p>
    <p *ngSwitchCase="1">1 server</p>
    <p *ngSwitchCase="2">2 servers</p>
    <p *ngSwitchDefault>Many servers</p>
  </div>

  <!-- for loop -->
  <app-server
    *ngFor="let server of servers"
    [serverId]="server.id"
    [serverName]="server.name"
    [serverStatus]="server.status"
    (toggleStatus)="onToggleStatus($event)"
    (updateServerName)="updateServerName($event)"
  ></app-server>

  <!-- for loop with indices -->
  <!-- <app-server *ngFor="let server of servers; let i = index"></app-server> -->

  <!-- <app-server></app-server>
  <app-server></app-server>
  <app-server></app-server> -->
</div>
