<h1>Hi there, {{ pokemonName }} rocks</h1>

<!-- Manual 2 way binding -->
<!-- <input type="text" (input)="onUpdatePokemonName($event)" [value]="title" /> -->

<!-- automatic 2 way binding -->
<input type="text" [(ngModel)]="pokemonName" />

<hr />

<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/servers">Servers</a></li>
  <ul>
    <li *ngFor="let server of servers">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{ allowEdit: 1 }"
        fragment="status"
        >{{ server.name }}</a
      >
    </li>
  </ul>
</ul>

<router-outlet></router-outlet>
